
.WatchOrderStyle{
    justify-content: center;
    align-items: center;
    width: 1400px;
}

.Title{
   
    color: white;
    font-size: 75px;
}

.WatchOrderCardsContainer{
   
    
    
   
    
}