.style{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1500px;
}


.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1400px;
    overflow-x: scroll;
    scrollbar-width: none;
    
}



.left-arrow, .right-arrow{
    display: inline-block;
   align-self: center;
 }
 
 .arrowImg{
     width: 50px;
     height: 50px;
 }
