

.SearchBar{
   
    flex-direction: row;
    display: block;
    height:  50px;
    
    width: 1700px;
}

.titlesPresentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px ;
    
}

.WatchOrderModeButtons{
   display: inline-flex;
}





