

.SearchBar{
   
    flex-direction: row;
    display: block;
    height:  50px;
    
    width: 2000px;
}

.titlesPresentation{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    height: 400px ;

}



.cardslist{
    display: inline-block;
  
}



